@page "/"

@using LoRWatcherComponents
@using LoRWatcher.Caches
@using LoRWatcher.Events
@using LoRWatcher.Stores
@using LoRWatcher.Utils
@using System.Threading;
@using System.Diagnostics

@inject IWatcherDataStore watcherDataStore
@inject IWatcherEventHandler watcherEventHandler

<Container>
    <!-- TODO: Flickers occur when loading homepage... this is possibly due to this if/else here and the data taking a short time to load in. This could be made smoother somehow. -->
    @if (this.matchReportMetadata == null || this.matchReports == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (matchReportMetadata.TotalGames <= 0)
    {
        <div Class="col-12">
            <h2 class="text-black-hint" style="text-align: center; margin: 20px">
                <b>No matches have been recored. <br /> Play some matches to start using the LoR Watcher.</b>
            </h2>
        </div>
    }
    else
    {
        <Row Class="my-4">
            <div Class="col-4">
                <h1><b>@this.matchReportMetadata.PlayerName</b></h1>
            </div>
            <div Class="col-8">
                <Row>
                    <TotalStats MatchReportMetadata="this.matchReportMetadata" />
                </Row>
            </div>
        </Row>
        <Row>
            <div Class="col-12">
                <MatchGrid TotalGames="@this.matchReportMetadata.TotalGames" InitialMatchReports="@this.matchReports" />
            </div>
        </Row>
    }
</Container>

@code {
    private const string Source = "Home";

    private MatchReportMetadata matchReportMetadata;

    private IEnumerable<MatchReport> matchReports;

    protected override async Task OnInitializedAsync()
    {
        this.RegisterEvents();

        await this.UpdateDataAsync();
    }

    private void RegisterEvents()
    {
        this.watcherEventHandler.TryAddEvent(WatcherEvents.GameFinished, Source, async () =>
        {
            await this.UpdateDataAsync();

#pragma warning disable CS4014
            InvokeAsync(() =>
            {
                StateHasChanged();
            });
#pragma warning restore CS4014
        });
    }

    private async Task UpdateDataAsync()
    {
        var stopwatch = Stopwatch.StartNew();
        var metadataTask = Task.Run(async () =>
        {
            this.matchReportMetadata = await this.watcherDataStore.GetMatchReportsMetadataV2Async(CancellationToken.None);
        });

        var matchesTask = Task.Run(async () =>
        {
            this.matchReports = await this.watcherDataStore.GetMatchReportsAsync(0, RazorConstants.PageSize, CancellationToken.None);
        });

        await Task.WhenAll(
            new[]
            {
                metadataTask,
                matchesTask
            });

        var elapsed = stopwatch.Elapsed;
    }
}