<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">LoR Watcher</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Overview
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="matchreports">
                    <Icon Name="IconName.Search" Margin="Margin.Is3.FromRight" />Match Reports
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar sidebar;
}